* {
    padding: 0px;
    margin: 0px;
}

.conteiner {
    max-width: 1000px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    /* background-color: brown; */
    width: 40%;
    margin: auto;
}

.menu ul li{
    list-style: none;
    height: 2em;
    display: flex;
    align-items: center;
}
    .menu ul li:hover {
        background-color: blueviolet;
    }

.menu div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.6em;
}
    
.menu a {
    text-decoration: none;
    margin: 0.5em;
    display: flex;
    align-items: center;
}

.menu p {
    color: black;
}

.title {
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1em;
}