* {
    padding: 0px;
    margin: 0px;
}

.conteiner {
    max-width: 1000px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    /* background-color: brown; */
    width: 40%;
    margin: auto;
}

.menu ul li{
    list-style: none;
    height: 2.5em;
    display: flex;
    align-items: center;
}

.menu div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    transition: transform 300ms;
}
    #violencias {
        background-color: #8C52FF;
    }
        #fake {
            background-color: gold;
        }
            #ambiente {
                background-color: #009383;
            }
                #esi {
                    background-color: #FF914C;
                }
                    #diversidad {
                        background-color: rgb(205, 66, 39);
                    }
                        #violencias,
                        #fake,
                        #ambiente,
                        #esi,
                        #diversidad {
                            position: absolute;
                        }
.menu a {
    text-decoration: none;
    margin: 0.5em;
    display: flex;
    align-items: center;
    transition: all 200ms;
}

.menu p {
    color: black;
    font-size: 1.2em;
    transition: transform 200ms;
    margin-left: 1.3em;
}
    .menu p:hover {
        transform: scale(1.1);
        transform: translateX(0.5em);
        font-weight: bold;   
    }
        .menu p:hover ~ div {
            transform: scale(1.2);
            transform: translateX(0.2em);
            height: 10px;
        }

.title {
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

@media screen and (max-width: 750px){
   
    .menu ul li {
        width: 20rem;
    }
    .menu {
        margin: 0px 0px 0px 1.2em;
    }
    .title {
        margin: 10px 0px 10px 1.2em;
    }
}